@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #577099;
}

@layer {
  .bg-fondo {
    background-image: url("../../public/pexels-mo-eid-11612809.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .bg-shadow {
    -webkit-box-shadow: 3px 6px 37px 12px rgba(0, 0, 0, 0.66);
    -moz-box-shadow: 3px 6px 37px 12px rgba(0, 0, 0, 0.66);
    box-shadow: 3px 6px 37px 12px rgba(0, 0, 0, 0.66);
  }
  .parent{
    position: relative;
  }
  .paren{
    position: relative;
  }
  .child{
    transition: transform 0.1s ease;
  }

  .parent:hover .child{
    transform: translateX(-9px);
  }
  
  
}

